---
import DynamicIcon from "@/layouts/helpers/DynamicIcon.tsx";

export interface Props {
  title: string;
  text: string;
  icon: string;
  color1: string;
  color2: string;
}

const { title, text, icon, color1, color2 } = Astro.props;
---

<div>
  <article class="flex flex-col items-start gap-3">
    <div
      style={`--color-1: ${color1}; --color-2: ${color2};`}
      class:list={[
        "size-fit rounded-full p-0.5 lg:p-0.75",
        "bg-linear-to-r from-(--color-1) to-(--color-2)",
      ]}
    >
      <div
        class:list={[
          "size-12 lg:size-14 grid place-content-center text-white rounded-full bg-black bg-linear-to-br",
          "from-(--color-1)/25 to-(--color-2)/25",
        ]}
      >
        <DynamicIcon icon={icon} className="size-5 lg:size-7" client:visible />
      </div>
    </div>
    <div class="">
      <h3 class="font-semibold md:text-lg">{title}</h3>
      <p class="text-astro-gray-200 font-light">{text}</p>
    </div>
  </article>
</div>
